{% extends 'base.html' %}

{% block title %}Successfully sent{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body text-center">
            <img src="/media/site_img/91068-message-sent-successfully-plane.gif" alt="Success" class="card-img-top mx-auto d-block mt-3">
            <h3 class="card-title">Your Request Successfully sent </h3>
            <p class="card-text">The request has been successfully sent.</p>
            <a href="{% url 'parent_dashboard' %}" class="btn btn-primary">Back to Your Dashboard</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
